@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";

.font-weight-bold {
  font-weight: bold !important;
  font-size: 20px;
}

.dropdown-toggle::after {
  display: none !important;
}
/* 
.full-page-map-container,.full-page-content-container {
    height: 100vh !important;
} */

.content {
  min-height: 60vh;
}

.loading {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.alert-login {
  margin: 20px 0;
}

.select-gender {
  height: 48px;
  line-height: 48px;
  padding: 0 20px !important;
  outline: none;
  font-size: 16px;
  color: #808080;
  margin: 0 0 16px 0;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  font-weight: 500;
  opacity: 1;
  border-radius: 4px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.s-checkbox {
  height: 15px;
  width: 15px;
  margin-top: 5px;
}

.font-weight-bold {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.s-find-job {
  min-height: 100vh;
}

.tab-component {
    border-left: 1px #DEE2E6 solid;
    border-right: 1px #DEE2E6 solid;
    border-bottom: 1px #DEE2E6 solid;
}

.nav-link-simulate:hover {
    color: #2A41E8;
}

.dashboard .rounded {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Font size */
.font-size-50 {
  font-size: 50px;
}
.font-size-30 {
    font-size: 30px;
}
.font-size-15 {
    font-size: 15px;
}
.font-size-13 {
    font-size: 13px;
}
