/* S_Drag */
.drag-box {
    border: 3px dashed #ccc;
    color: #ccc;
    text-align: center; 
}

.drag-box-over {
    border: 3px dashed black;
    color: black;
    text-align: center;
}

.camera-icon {
    background-color: #5b85ef;
    color: white;    
}

/* S_Selector */
.btn-select {
    background-color: white;
    margin: 0;
    height: 48px;
    line-height: 48px;
    font-family: inherit;    
}

.btn-select:hover {
    background-color: white
}

.dropdown-item:hover {
    color: #2A41E8 !important;
    background-color: #F0F1FE !important;
}

.selector-dropdown-menu {
    max-height: calc(100vh - 70vh);
    overflow-y: auto;
    overflow-x: hidden;
}

/* S_Autocomplete_tag */
.input-tag {
    position: relative;
}

.suggestion {
    background-color: white;
    list-style-type: none;
    position: absolute;  
    width: 100%;
    z-index: 1000;   
    display: none; 
}

.suggestion-show {
    display: block !important;
}